<a href="https://colab.research.google.com/github/Rohit036/sample-repo/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/Rohit036/sample-repo/master/weather_2012.csv")

In [5]:
print(data.head())

             Date/Time  Temp (C)  ...  Stn Press (kPa)               Weather
0  2012-01-01 00:00:00      -1.8  ...           101.24                   Fog
1  2012-01-01 01:00:00      -1.8  ...           101.24                   Fog
2  2012-01-01 02:00:00      -1.8  ...           101.26  Freezing Drizzle,Fog
3  2012-01-01 03:00:00      -1.5  ...           101.27  Freezing Drizzle,Fog
4  2012-01-01 04:00:00      -1.5  ...           101.23                   Fog

[5 rows x 8 columns]

In [7]:
data.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [8]:
# Find all the unique Wind Speed values recorded in the dataset

[ 4  7  6  9 15 13 20 22 19 24 30 35 39 32 33 26 44 43 48 37 28 17 11  0
 83 70 57 46 41 52 50 63 54  2]

In [10]:
# Find the number of times when the weather was exactly 'Clear'

1326

In [0]:
# Find the number of times when the wind speed was exactly 4 km/h

In [0]:
# Get the first 3 alternating rows from the weather_df dataframe, but only the Visibility and Relative Humidity columns

In [13]:
import pandas as pd
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [0]:
# Read a csv file from a specified source and print the first 5 rows

In [14]:
# Select a series from a DataFrame and print. Carat columns
print(diamonds['carat'])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

In [15]:
# Create a new 'Quality -color' Series of the diamonds DataFrame

print(diamonds.head())

   carat      cut color clarity  depth  ...  price     x     y     z  Quality–color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43       Ideal, E
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31     Premium, E
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31        Good, E
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63     Premium, I
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75        Good, J

[5 rows x 11 columns]

In [16]:
# Find the number of rows and columns and data type of each column of diamonds Dataframe
print("Number of rows and columns:")

print("\nData type of each column:")

Number of rows and columns:
(53940, 11)

Data type of each column:
carat            float64
cut               object
color             object
clarity           object
depth            float64
table            float64
price              int64
x                float64
y                float64
z                float64
Quality–color     object
dtype: object

In [23]:
# Write a Pandas program to summarize only 'object' columns of the diamonds Dataframe.
print("Summarize of 'object' columns:")
#print(diamonds.info())
print(diamonds.describe(include=['object']))

Summarize of 'object' columns:
          cut  color clarity Quality–color
count   53940  53940   53940         53940
unique      5      7       8            35
top     Ideal      G     SI1      Ideal, G
freq    21551  11292   13065          4884

In [24]:
# Rename two of the columns of the diamonds Dataframe
print("Original Dataframe:")
print(diamonds.head())
print("\nAfter renaming two of the columns of the said dataframe:")

print(diamonds.head())

Original Dataframe:
   carat      cut color clarity  depth  ...  price     x     y     z  Quality–color
0   0.23    Ideal     E     SI2   61.5  ...    326  3.95  3.98  2.43       Ideal, E
1   0.21  Premium     E     SI1   59.8  ...    326  3.89  3.84  2.31     Premium, E
2   0.23     Good     E     VS1   56.9  ...    327  4.05  4.07  2.31        Good, E
3   0.29  Premium     I     VS2   62.4  ...    334  4.20  4.23  2.63     Premium, I
4   0.31     Good     J     SI2   63.3  ...    335  4.34  4.35  2.75        Good, J

[5 rows x 11 columns]

After renaming two of the columns of the said dataframe:
   carat      cut diamond_color dimaond_clarity  ...     x     y     z  Quality–color
0   0.23    Ideal             E             SI2  ...  3.95  3.98  2.43       Ideal, E
1   0.21  Premium             E             SI1  ...  3.89  3.84  2.31     Premium, E
2   0.23     Good             E             VS1  ...  4.05  4.07  2.31        Good, E
3   0.29  Premium             I             VS2  ...  4.20  4.23  2.63     Premium, I
4   0.31     Good             J             SI2  ...  4.34  4.35  2.75        Good, J

[5 rows x 11 columns]

In [25]:
# Remove the second column of the diamonds Dataframe
print("Original Dataframe:")
print(diamonds.head())
print("\nRemove the second column of the said Dataframe:")

print(diamonds.head())

Original Dataframe:
   carat      cut diamond_color dimaond_clarity  ...     x     y     z  Quality–color
0   0.23    Ideal             E             SI2  ...  3.95  3.98  2.43       Ideal, E
1   0.21  Premium             E             SI1  ...  3.89  3.84  2.31     Premium, E
2   0.23     Good             E             VS1  ...  4.05  4.07  2.31        Good, E
3   0.29  Premium             I             VS2  ...  4.20  4.23  2.63     Premium, I
4   0.31     Good             J             SI2  ...  4.34  4.35  2.75        Good, J

[5 rows x 11 columns]

Remove the second column of the said Dataframe:
   carat diamond_color dimaond_clarity  depth  ...     x     y     z  Quality–color
0   0.23             E             SI2   61.5  ...  3.95  3.98  2.43       Ideal, E
1   0.21             E             SI1   59.8  ...  3.89  3.84  2.31     Premium, E
2   0.23             E             VS1   56.9  ...  4.05  4.07  2.31        Good, E
3   0.29             I             VS2   62.4  ...  4.20  4.23  2.63     Premium, I
4   0.31             J             SI2   63.3  ...  4.34  4.35  2.75        Good, J

[5 rows x 10 columns]